@import 'vendor/normalize';
@import 'layout';

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stone {
  border: 1px solid black;
}

.stone.white {
  background-color: white;
}

.stone.black {
  background-color: black;
}

.stone.empty {
  border: none;
}

.stone.pending {
  opacity: 0.75;
}

.cell {
  background-image: url(/images/middle.png);
  background-size: contain;
}

.row:first-child .cell {
  background-image: url(/images/edge.png);
}

.row:last-child .cell {
  background-image: url(/images/edge.png);
  transform: rotate(180deg);
}

.cell:first-child {
  background-image: url(/images/edge.png);
  transform: rotate(270deg);
}

.cell:last-child {
  background-image: url(/images/edge.png);
  transform: rotate(90deg);
}

.row:first-child .cell:first-child {
  background-image: url(/images/corner.png);
  transform: rotate(0deg);
}

.row:first-child .cell:last-child {
  background-image: url(/images/corner.png);
  transform: rotate(90deg);
}

.row:last-child .cell:first-child {
  background-image: url(/images/corner.png);
  transform: rotate(270deg);
}

.row:last-child .cell:last-child {
  background-image: url(/images/corner.png);
  transform: rotate(180deg);
}
